<?php defined('SYSPATH') OR die('No direct access allowed.');

return array(

	'driver' => 'SimpleAuth',
	'hash_method' => 'sha256',
	'hash_key' => 'pr#ye=habrU-UhuB',
	'session_type' => Session::$default,
	'session_key' => 'simpleauth_user',

);
